# Q1. Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’ Add ‘mango to the above list Also add banana, grapes & orange in the list insert apple in the 5th position of a variable ‘a’ Remove last item from the list

In [6]:
l=[2,3,4,5,6,7]
l.append("mango")
l.extend(['banana','grapes','orange'])
l.insert(5,"apple")
l.pop()
print(l)

[2, 3, 4, 5, 6, 'apple', 7, 'mango', 'banana', 'grapes']

# Q2.L = [1,2,3,4,5,6,7]Using the above list slice from 1:4

In [8]:
l=[1,2,3,4,5,6,7]
print(l[1:4])

[2, 3, 4]

# Q3. Reverse the order of given string L = [4,5,6,8,3] Without using reverse() function.

In [9]:
l=[4,5,6,8,3]
l.reverse()
print(l)

[3, 8, 6, 5, 4]

# Q4. Use list comprehension to square the given list L=[2,4,7,3,6,8]

In [10]:
l=[2,4,7,3,6,8]
t=[  i**2 for i in l]
print(t)

[4, 16, 49, 9, 36, 64]

# Q5. Create a function that takes in a tuple of integers and returns the sum of the integers. Test the function with a tuple of your choice.

In [17]:
t=(2,3,4,5) 
s=0
p=[i for i in t]
for i in range(len(p)):
    s+=p[i]
print(s)

14

# Q6. Create two sets of your favourite fruits, and use the union() method to combine them into a single set. Print the resulting set to the console.

In [20]:
set1={"orange","mango","papaya","banana"}
set2={"liche","graphes","gavava"}
t=set1.union(set2)

In [21]:
t

{'banana', 'gavava', 'graphes', 'liche', 'mango', 'orange', 'papaya'}

# Q7. Create a set of random words, and use the add() method to add a new word to the set. Print the resulting set to the console.

In [22]:
set1={"orange","mango","papaya","banana"}
set1.add("kiwi")

In [23]:
set1

{'banana', 'kiwi', 'mango', 'orange', 'papaya'}

# Q8. Create a set of your favourite animals, and use the remove() method to remove one animal from the set. Print the resulting set to the console.

In [24]:
animals = {"dog", "cat", "hamster", "parrot"}
animals.remove("parrot")

In [25]:
animals

{'cat', 'dog', 'hamster'}

# Q9. favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"} favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"] Use the zip() function to combine the book set and movie list into a list of tuples representing book/ movie pairs. Print the resulting list.

In [27]:
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"},
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]
combine=list(zip(favorite_movies,favorite_books))

In [28]:
combine

[('The Shawshank Redemption',
  {'1984', 'Pride and Prejudice', 'To Kill a Mockingbird'})]